extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Josh Nussbaum

        p.lead.text-light
          | Web Developer
        
        //- Biography formatted with different p tags
        .portfolio-bio
          p
            | Having worked as a musician my entire life, I know what it takes to put my heart and soul into crafting meaningful projects. A top priority of this work has always been to emphasize connection between human beings; both those I have worked with, and those I have performed in front of.
          p  
            | My commitment to musical excellence has brought professional success, and I bring that same commitment to web development. My goals are to build tools and applications that are functional in their problem solving, ethical in terms of access and usability, and thoughtfully laid out in a way that is beautiful and enjoyable to use.
          p
            | I believe that the tech space is experiencing a movement that is welcoming more individuals with diverse educational, professional, and aesthetic backgrounds, and I am delighted to be a part of that shift.
          p
            | Please feel free to reach out and connect at any time. I am always looking to learn from and collaborate with new people. Thank you for visiting my portfolio!
      .cell.portfolio-meta.small-6.medium-2.large-3
        
        //- Skills
        h6 Skills

        ul
          li HTML
          li CSS 
          li SASS
          li Bootstrap
          li JavaScript
          li Node.js
          li Express
        h6 Contact Info

        //- Contact info
        ul
          //- li 555-555-1234
          li Joshnussbaum89@gmail.com

        //- Social media accounts
        a.button.expanded(href='https://www.linkedin.com/in/josh-nussbaum/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/joshnussbaum89' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/Joshnussbaum' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  